* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    overflow-x: hidden;
    overflow-y: scroll;
    color: #f8fafc;
    background-color:#0f172a;
    font-family: '';
    font-weight: 400;
    line-height: 1.55;
    max-height: 100px;
    height: auto !important;
    position: relative;
    display: flex;
    flex-direction: column;
}
/*Header_body tab chọn rạp*/
.hd_chonrap {
    background-color: #000;
    display: inline-block; /*Các items được xếp cùng nhau trên một dòng + Có các yếu tố của 1 block*/
    left: 0;
    top: 0;
    position: relative;
    width: 100%;
    height: 12.8rem !important;
    transition: all .4s;
    padding: 20px;
}
    /*Top of Header*/
.hd_chonrap_top {
    height: 7.8rem;
}
.container {
    height: 100%;
    margin: 0 auto;
    max-width: 123rem;
    padding: 0 1.5rem;
    width: 100%;
}
.hd_chonrap_top_components {
    align-items: center; /**/
    display: flex; /**/
    gap: 3.2rem;
    height: 100%;
}
/*Logo*/
.hd_chonrap_top .main_logo_link {
    display: flex;
    width: 13rem;
}
.hd_chonrap_top .main_logo_link img {
    width: 100%
}
img {
    display: block;
    height: auto;
    transition: all .2s;
    max-width: 100%;
}
/*Nút ĐẶT VÉ NGAY*/
.hd_left_action {
    align-items: center;
    display: flex;
    flex: 1;
    gap: 1rem;
    justify-content: center; /**/
}
.hd_left_action .btn {
    font-size: 1.4rem; 
}

.book_btn:before {
    background: #f3ea28;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}
.book_btn:after {
    background: linear-gradient(106deg, #639, #36c 102.69%);
    bottom: 0;
    width: 100%;
    height: 100%;
    left: 0;
    width: 0;
    z-index: -1;
}
.book_btn:after, .book_btn:before {
    content: "";
    height: 100%;
    position: absolute;
    transition: all .4s ease-in-out;
    width: 100%;
}
*, :after, :before {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(66, 153, 225, .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
}
:after, :before {
    --tw-content: "";
}

*, :after, :before {
    border: 0 solid #edf2f7;
    box-sizing: border-box;
}

.book_btn {
    color: #0f172a;
    position: relative;
    transition: color .3s ease-in-out; 
    z-index: 1; 
}
.btn {
    -ms-align-items: center; /**/
    -webkit-align-items: center; /**/
    background-color: transparent; /**/
    border: none;
    border-radius: .4rem;
    cursor: pointer;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    gap: 1rem;
    -webkit-justify-content: center;
    letter-spacing: .8px;
    outline: none;
    overflow: hidden;
    padding: .8rem 1.2rem;
    text-align: center;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}
/*Thanh tìm kiếm*/
.hd_right_action {
    align-items: center;
    display: flex;
    gap: 3.6rem;
}
.hd_search {
    position: relative;
}
.search_icon {
    --sz: 2.4rem;
    align-items: center;
    border: .2rem solid #fff;
    border-radius: 100rem;
    cursor: pointer;
    display: none;
    height: 2.4rem;
    justify-content: center;
    width: 2.4rem;
}
.search_panel_form_content {
    align-items: center;
    display: flex;
    position: relative;
    width: 25rem;
    color: #252525;
}
.search_panel_form_content input {
    background-color: #fff;
    border-radius: 100rem;
    font-size: 1.4rem;
    font-weight: 400;
    height: 4rem;
    line-height: 1;
    padding: 0 3rem 0 1.6rem;
    width: 100%;
}
.search_btn {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    width: 1.6rem;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button; /**/
    background-color: transparent;
    background-image: none;
}
button {
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}
button, select {
    -webkit-appearance: none;
    border: none;
    cursor: pointer;
    outline: none;
}
[role=button], button {
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}
/*Register+Login*/
.hd_register_login_content {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-shrink: 0;
    gap: 1rem;
    position: relative;
}
.hd_register_login_ava {
    flex-shrink: 0;
    height: 2.4rem;
    position: relative;
    top: -.2rem;
    width: 2.4rem;
}
.hd_register_login_ava img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
}
.hd_register_login_list {
    align-items: center;
    display: flex;
    gap: .4rem;
}
a {
    color: inherit;
    text-decoration: none;
}
.hd_language_action {
    cursor: pointer;
    gap: 0 .8rem;
    position: relative;
    align-items: center;
    display: flex;
}
.hd_language_popup {
    display: flex;
    gap: 0 .8rem;
}
.hd_language_option {
    font-size: 1.4rem;
    align-items: center;
    display: flex;
    gap: 0 .8rem;
}
.hd_language_option .image {
    border-radius: 100rem;
    display: inline-block;
    flex-shrink: 0;
    height: 2.4rem;
    width: 2.4rem;
}
.hd_language_option .image img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
}
.hd_language .hd_language_option .text {
    position: relative;
    top: .2rem;
}
    /*Mid of Header*/
.hd_chonrap_mid {
    height: 5rem;
}
.hd_chonrap_mid_components {
    align-items: center;
    display: flex;
    border-top: .1rem solid rgba(248, 250, 252, .1);
    gap: 1rem;
    height: 100%;
    justify-content: space-between;
}
.local {
    gap: .6rem;
    align-items: center;
    display: flex;
}
.local .text_chonrap {
    text-decoration: underline;
    text-underline-position: under;
    transition: .3s ease-in-out;
}
.other {
    align-items: center;
    display: flex;
    gap: 2.4rem;
}
.other .link {
    text-decoration: underline;
    text-underline-position: under;
    transition: .3s ease-in-out;
}

/*Body_body tab chọn rạp*/
.app-main-chonrap {
    flex: 1;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    top: 4rem;
    height: auto !important;
}
.chonrap-components {
    display: flex;
    flex-wrap: wrap;
}
.chonrap-item {
    width: calc(33.333333% - 20px);
    height: auto;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}
.chonrap-item-img img {
    max-height: 100%;
    width: auto;
    -o-object-fit: cover;
    object-fit: cover;
}
.chonrap-item-info {
    bottom: 0;
    left: 0;
    position: relative;
    transition: all .3s ease-in-out;
    width: 100%;
    height: 70%;
}
.chonrap-components .address-box {
    pointer-events: visible;
}
.address-box {
    background: linear-gradient(106deg, rgba(102, 51, 153, .8), rgba(51, 102, 204, .8) 102.69%);
    height: 100%;
    width: 100%;
    padding: 1rem;
    text-align: left;
}
.hd_address-box {
    align-items: center;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: .8rem;
}
.address-box .link {
    align-items: center;
    color: #f8fafc;
    display: flex;
    gap: 0 .8rem;
    pointer-events: visible;
}
.sub-tittle {
    color: #f8fafc;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.4rem;
    text-transform: uppercase;
    text-align: left;
}
.chonrap-components .body_address-box {
    overflow: hidden !important;
}
.body_address-box {
    max-height: 50%;
}
ol, ul {
    list-style: none;
}
.address-box .item {
    margin-bottom: 1.2rem;
}
.body_address-box .link {
    align-items: flex-start !important;
}
.address-box .link {
    color: #f8fafc;
    display: flex;
    gap: 0 .8rem;
    pointer-events: visible;
}
.body_address-box .ic {
    flex-shrink: 0;
    position: relative;
    top: .2rem;
}
.address-box .link .ic img {
    height: 1.6rem;
    width: 1.6rem;
}
.address-box .body_address-box .item .text {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}
.chonrap-components .address-box .book-immediately-btn {
    min-width: 15rem;
    transition: all .2s;
    width: fit-content;
}
.book-immediately-btn {
    border: 3px color(#f3ea28);
    background-color: #f3ea28;
    height: 16px;
    width: 24px;
    color: #000;
    font-weight: 800;
    font-size: 20px;
    padding: 8px;
    text-align: center;
}


/*Footer_body tab chọn rạp*/
.footer {
    padding-bottom: 4rem;
    position: relative;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
}
.footer_components {
    padding-top: 10rem;
    display: flex;
}
.footer .footer_list {
    padding-bottom: 2.4rem;
    display: flex;
}
.footer .footer_list-item {
    display: flex !important;
    flex-direction: column;
    flex: 0.5;
    text-align: left;
    margin: 20px;
}
.col4 {
    width: 20%;
    margin-bottom: 5px;
    padding: 20px;
    display: flex !important;
}
.col {
    margin-bottom: 5px;
    padding: 50px;
}
.footer .footer_list-item .main_logo_link_footer {
    display: block;
    width: 100%;
}
.row {
    --col-gap: 2.4rem;
    --row-gap: 2.4rem;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
    padding: 15px;
}
.part {
    width: 50%;

}
.footer .footer_list-item .text {
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-weight: bold;
}
.footer .text {
    margin-bottom: 2.4rem;

}
.footer .footer_list-item .menu-list {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}
.footer .footer_list-item .menu-link {
    text-decoration: underline;
    text-underline-position: under;
}
.footer .footer_list-item_bot {
    margin-top: 8.4rem;
}
.aform {
    width: 5%;
    display: flex !important;
}
.sp, .part {
    flex: 1 !important;
    width: 90%;
}
