.movie {
    margin-right: 4%;
    display: inline-block;
}

.title {
    font-size: larger;
    color: white;
    align-items: center;
    justify-content: center;
    display:  flex;
    margin:  10px 0px
}



.buy_ticket{
    height: 40px;
    width: 100px;
    display: flex;
    font-weight: bold;
    font-size: 100%;
    margin-left: 90px;

    border-radius: 4px;
    background-color: yellow;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;    
    color: black;
}

.link {
    color: white;
    text-decoration: underline;
    font-size: 24px;
    margin: 10px 10px;
}
.option {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
}


@media screen and (max-width: 420px) {
    .movie {
    }
    .banner_1 {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .book-now {
        display: none;
    }
    .title {
        font-size: medium;
        color: white;
        align-items: center;
        justify-content: center;
        display:  flex;
        margin:  10px 0px
    }
    .trailer{
        color: whitesmoke;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}