<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/style2.css">
    <link rel="stylesheet" href="../static/css/ChonRap_style.css">
</head>

<body>
    <div class="hd_chonrap">
        <div class="hd_chonrap_top">
            <div class="container">
                <div class="hd_chonrap_top_components">
                    <a class="main_logo_link" href="#"> <!--Thay href-->
                        <img src="../static/assets/logo.jpg">
                    </a>
                    <div class="hd_left_action">
                        <a button class="btn book_btn" href="#"> <!--Thay href-->
                            <img src="https://cinestar.com.vn/assets/images/ic-ticket.svg">
                            <span class="text">Đặt vé ngay</span>
                        </a>

                    </div>
                    <div class="hd_right_action">
                        <!--Search-->
                        <div class="hd_search">
                            <div class="search_icon">
                                <img src="https://cinestar.com.vn/assets/images/icon-search.svg">
                            </div>
                            <div class="search_panel" data-name="panel_search">
                                <div class="search_panel_form">
                                    <div>
                                        <div class="search_panel_form_content">
                                            <input class="search_content" type="text"
                                                placeholder="Tìm phim, thể loại,...">
                                            <button class="search_btn" type="submit">
                                                <img src="https://cinestar.com.vn/assets/images/ic-header-search.svg">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Register/Login-->
                        <div class="hd_register_login">
                            <div class="hd_register_login_content">
                                <div class="hd_register_login_ava">
                                    <img src="https://cinestar.com.vn/assets/images/ic-header-auth.svg">
                                </div>
                                <div class="hd_register_login_list">
                                    <a class="link" href="#">
                                        <i class="login"></i>Đăng nhập
                                    </a>
                                    <span class="separate">/</span>
                                    <a class="link" href="#">
                                        <i class="register"></i>Đăng kí
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--Language-->
                        <div class="hd_language">
                            <div class="hd_language_action">
                                <div class="hd_language_popup">
                                    <div class="hd_language_option">
                                        <span class="image">
                                            <img src="https://cinestar.com.vn/assets/images/footer-vietnam.svg">
                                        </span>
                                        <span class="text">
                                            VN
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hd_chonrap_mid">
            <div class="container">
                <div class="hd_chonrap_mid_components">
                    <a class="local" href="#"> <!--Thay href-->
                        <span class="text_chonrap">Chọn rạp</span>
                    </a>
                    <div class="other">
                        <a class="link" href="#">Khuyến mãi</a>
                        <a class="link" href="#">Giới thiệu</a>
                        <a class="link" href="#">Dịch vụ khác</a>
                        <a class="link" href="#">Thuê sự kiện</a>
                    </div>


                </div>
            </div>
            <div id="wrapper">
                <div id="main_content">
                    <div id="img_content">
                        <img src="../static/assets/godzilla-vs-kong-poster.jpg" alt="" width="1400">
                    </div>
                    <div id="movie_content">
                        <h1>GODZILLA X KONG: ĐẾ CHẾ MỚI 2D (K)</h1>
                        <p style="display: flex; line-height: 2;"><img src="../static/assets/icon-tag.svg" alt=""> Khoa
                            Học Viễn Tưởng</p>
                        <p style="display: flex;line-height: 2;"><img src="../static/assets/icon-clock.svg" alt=""> 125'
                        </p>
                        <h2 style="line-height: 2;">MÔ TẢ</h2>
                        <p style="line-height: 2;">Đạo diễn: Adam Wingard</p>
                        <p style="line-height: 2;">Diễn viên: Rebecca Hall, Dan Stevens, Rachel House</p>
                        <p style="line-height: 2;">Khởi chiếu: 27/03/2024</p>
                        <h3 style="line-height: 2;">NỘI DUNG PHIM</h3>
                        <p style="line-height: 2;">Kong và Godzilla - hai sinh vật vĩ đại huyền thoại, hai kẻ thủ truyền
                            kiếp sẽ cùng bắt tay thực thi một sứ mệnh chung mang tính sống còn để bảo vệ nhân loại, và
                            trận chiến gắn kết chúng với loài người mãi mãi sẽ bắt đầu.</p>
                        <p style="display: flex; line-height: 2;text-decoration: underline;"><img
                                src="../static/assets/icons8-play-64.png" alt="" width="30"> Xem Trailer</p>
                    </div>
                </div>
            </div>
            <h2
            style="text-align: center; color: aliceblue; line-height: 4; font-size: 250%;">LỊCH
            CHIẾU</h2>
        <div id="movie_date" class="lichchieu">
        </div>
        <h3
            style="text-align: center; color: aliceblue; line-height: 4; font-size: 250%;">DANH
            SÁCH GHẾ NGỒI</h3>

        <div id="seat"></div>
        <button onclick="buyTicket()">Đặt vé</button>

        <script>
            const seatSelected = [];

            ['A', 'B', 'C', 'D', 'E'].forEach((row) => {
            let rowElement = document.createElement('div')
            rowElement.style.display = 'flex'
            rowElement.innerHTML = row
            document.getElementById('seat').appendChild(rowElement)
            for (let i = 1; i <= 10; i++) {
                let seatElement = document.createElement('div')
                seatElement.id = row + i
                seatElement.style.width = '50px'
                seatElement.style.height = '50px'
                seatElement.style.backgroundColor = 'white'
                seatElement.style.display = 'flex'
                seatElement.style.justifyContent = 'center'
                seatElement.style.alignItems = 'center'
                seatElement.style.borderRadius = '12px'
                seatElement.style.margin = '5px'
                seatElement.innerHTML = row + i
                seatElement.onclick = () => handleSelect(row + i)
                rowElement.appendChild(seatElement)
            }
            })
        </script>

            <div class="footer">
                <div>
                    <div class="container">
                        <div class="footer_components">
                            <div class="footer_list">
                                <!--Logo_Footer-->
                                <div class="footer_list-item col col4">
                                    <a class="main_logo_link_footer" href="#"> <!--Thay href-->
                                        <img src="../static/assets/logo4-2.png" width="800px" height="800px">
                                    </a>
                                </div>
                                <!--Column 1+2-->
                                <div class="footer_list-item sp">

                                    <div class="footer_list-item_top row">

                                        <div class="part">
                                            <div class="text">TÀI KHOẢN</div>
                                            <ul class="menu-list">
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#">Đăng nhập</a> <!--Thay href-->
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#">Đăng ký</a> <!--Thay href-->
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="part">
                                            <div class="text">THUÊ SỰ KIỆN</div>
                                            <ul class="menu-list">
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#">Thuê rạp</a> <!--Thay href-->
                                                </li>
                                            </ul>
                                        </div>

                                    </div>

                                    <div class="footer_list-item_bottom row">

                                        <div class="part">
                                            <div class="text">XEM PHIM</div>
                                            <ul class="menu-list">
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#">Phim đang chiếu</a> <!--Thay href-->
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#">Phim sắp chiếu</a> <!--Thay href-->
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="part">
                                            <div class="text">CINESTAR</div>
                                            <ul class="menu-list">
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#">Giới thiệu</a> <!--Thay href-->
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#">Liên hệ</a> <!--Thay href-->
                                                </li>
                                            </ul>
                                        </div>

                                    </div>

                                </div>

                                <!--Column 3-->
                                <div class="footer_list-item aform">
                                    <div class="text">DỊCH VỤ KHÁC</div>
                                    <ul class="menu-list">
                                        <li class="menu-item">
                                            <a class="menu-link" href="#">Đặt đồ ăn</a> <!--Thay href-->
                                        </li>
                                        <li class="menu-item">
                                            <a class="menu-link" href="#">Coffee</a> <!--Thay href-->
                                        </li>
                                        <li class="menu-item">
                                            <a class="menu-link" href="#">Nhà hàng</a> <!--Thay href-->
                                        </li>
                                        <li class="menu-item">
                                            <a class="menu-link" href="#">Kidzone</a> <!--Thay href-->
                                        </li>
                                        <li class="menu-item">
                                            <a class="menu-link" href="#">Gym</a> <!--Thay href-->
                                        </li>
                                        <li class="menu-item">
                                            <a class="menu-link" href="#">Nhà hát Opera</a> <!--Thay href-->
                                        </li>
                                    </ul>
                                </div>

                                <!--Column 4-->
                                <div class="footer_list-item aform">
                                    <div class="text">HỆ THỐNG RẠP</div>
                                    <ul class="menu-list">
                                        <li class="menu-item">
                                            <a class="menu-link" href="#">Tất cả hệ thống rạp</a> <!--Thay href-->
                                        </li>
                                        <li class="menu-item">
                                            <a class="menu-link" href="#">CI9MA Nguyễn Trãi</a> <!--Thay href-->
                                        </li>
                                        <li class="menu-item">
                                            <a class="menu-link" href="#">CI9MA Hai Bà Trưng</a> <!--Thay href-->
                                        </li>
                                        <li class="menu-item">
                                            <a class="menu-link" href="#">CI9MA Bình Dương</a> <!--Thay href-->
                                        </li>
                                        <li class="menu-item">
                                            <a class="menu-link" href="#">CI9MA Kiên Giang</a> <!--Thay href-->
                                        </li>
                                        <li class="menu-item">
                                            <a class="menu-link" href="#">CI9MA Đà Lạt</a> <!--Thay href-->
                                        </li>
                                        <li class="menu-item">
                                            <a class="menu-link" href="#">CI9MA Huế</a> <!--Thay href-->
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>

                    </div>
                    <script src="../static/js/test.js"></script>
                    </footer>
</body>

</html>