<!DOCTYPE html>
<html lang="vi-VN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="widtd=device-widtd, initial-scale=1.0">
    <title>CI9MA - Sign in</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style_signin.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"> -->
</head>

<body>
    <!-- <div class="film">
        <img src="film_12.png">
    </div> -->
    <div class="logo">
        <img id="mainlogo" src="static/assets/logo4.png">
    </div>
    <div class="wrapper">
        <div class="container">
            <div class="form-wrapper sign-in">
                <form method="post">
                    <input type="hidden" name="action" value="signin">
                    <h2>Sign In</h2>
                    <div class="input-group">
                        <input type="text" id="si_email" name="si_email" required>
                        <label for="si_email">Email</label>
                    </div>
                    <div class="input-group">
                        <input type="password" id="si_password" name="si_password" required>
                        <label for="si_password">Password</label>
                    </div>
                    <div class="remember">
                        <label><input type="checkbox"> Remember me</label>
                    </div>
                    <button type="submit">Sign In</button>
                    <div class="signUp-link">
                        <p>Don't have an account? <a href="#" class="signUpBtn-link">Sign Up</a></p>
                    </div>
                    <div class="social-platform">
                        <p>Or sign in with</p>
                        <div class="social-icons">
                            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#"><i class="fa-brands fa-google"></i></a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="form-wrapper sign-up">
                <form method="post">
                    <input type="hidden" name="action" value="signup">
                    <h2>Sign Up</h2>
                    <div class="input-group">
                        <input type="text" id="username" name="username" required>
                        <label for="username">Username</label>
                    </div>
                    <div class="input-group">
                        <input type="text" id="su_email" name="su_email" required>
                        <label for="su_email">Email</label>
                    </div>
                    <div class="input-group">
                        <input type="password" id="su_password" name="su_password" required>
                        <label for="su_password">Password</label>
                    </div>
                    <div class="input-group">
                        <input type="password" required>
                        <label for="">Confirm Password</label>
                    </div>
                    <div class="remember">
                        <label><input type="checkbox"> I agree to the terms & conditions.</label>
                    </div>
                    <button type="submit">Sign Up</button>
                    <div class="signUp-link">
                        <p>Already have an account? <a href="#" class="signInBtn-link">Sign In</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="static/js/script.js"></script>
</body>

</html>