<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/style2.css">
</head>

<body>
    <header class>
        <div class="menu">
            <div class="logo">
                <img src="../static/assets/logo.jpg" alt width="190">
            </div>
            <div class="ticket">
                <img src="../static/assets/ic-ticket.svg" alt width="20">Đặt mua vé
            </div>
            <div class="menu-search">
                <input id="icon" style="text-indent:17px;" type="text"
                    placeholder="Search..." />
            </div>
            <div class="login-logout">
                <img
                    src="../static/assets/user-icon-on-transparent-background-free-png.webp"
                    alt width="80">
                <div class="log">
                    Đăng Nhập/Đăng Ký 
                </div>
            </div>
        </div>
     </header>
    <main class="main">
        <div class="select_theater">
            <div class="option">
                <img src="../static/assets/location.png" alt width="50">
                <p class="link">Chọn rạp</p>
            </div>
            <div class="option">
                <div class="link">
                    Khuyến mãi
                </div>
                <div class="link">
                    Giới thiệu
                </div>
                <div class="link">
                    Dịch vụ khác
                </div>
                <div class="link">
                    Thuê sự kiện
                </div>
            </div>
        </div>
        <div id="wrapper">
        <div id="main_content">
            <div id="img_content">
                <img src="../static/assets/godzilla-vs-kong-poster.jpg" alt="" >
            </div>
            <div id="movie_content">
                <h1>GODZILLA X KONG: ĐẾ CHẾ MỚI 2D (K)</h1>
                <p style="display: flex; line-height: 2;"><img src="../static/assets/icon-tag.svg" alt=""> Khoa Học Viễn Tưởng</p>
                <p style="display: flex;line-height: 2;"><img src="../static/assets/icon-clock.svg" alt=""> 125'</p>
                <h2 style="line-height: 2;">MÔ TẢ</h2>
                <p style="line-height: 2;">Đạo diễn: Adam Wingard</p>
                <p style="line-height: 2;">Diễn viên: Rebecca Hall, Dan Stevens, Rachel House</p>
                <p style="line-height: 2;">Khởi chiếu: 27/03/2024</p>
                <h3 style="line-height: 2;">NỘI DUNG PHIM</h3>
                <p style="line-height: 2;">Kong và Godzilla - hai sinh vật vĩ đại huyền thoại, hai kẻ thủ truyền kiếp sẽ cùng bắt tay thực thi một sứ mệnh chung mang tính sống còn để bảo vệ nhân loại, và trận chiến gắn kết chúng với loài người mãi mãi sẽ bắt đầu.</p>
                <p style="display: flex; line-height: 2;text-decoration: underline;"><img src="../static/assets/icons8-play-64.png" alt="" width="30"> Xem Trailer</p>
            </div>
        </div>
        </div>
        <h2 style="text-align: center; color: aliceblue; line-height: 4; font-size: 250%;" >LỊCH CHIẾU</h2>
        <div class="lichchieu" style="display: flex; " >
            <div class="box">
                <p style="font-weight: bold;">01/04</p>
                <p style="font-weight: lighter">Thứ Hai</p>
                
            </div> 
            <div class="box">
                <p style="font-weight: bold;">02/04</p>
                <p style="font-weight: lighter">Thứ Ba</p>
                
            </div>  
        </div>
        <h3 style="text-align: center; color: aliceblue; line-height: 4; font-size: 250%;">DANH SÁCH GHẾ NGỒI</h3>
        
        </div>
        </main>
        <footer class="footer">
            <div class="boxcenter">
                <div class="boxfooter1">
                    <div class="logo2">
                        <img src="../static/assets/logo4-2.png" alt>
                    </div>
                </div>
                <div class="boxfooter2">
                    <div style="height: 50%;">
                        <h4>TÀI KHOẢN</h4>
                        <div class="add">Đăng nhập</div>
                        <div class="add">Đăng ký</div>
                    </div>
                    <div style="margin-top: 40px;">
                        <h4>XEM PHIM</h4>
                        <div class="add">Phim đang chiếu</div>
                        <div class="add">Phim sắp chiếu</div>
                    </div>
                </div>
                <div class="boxfooter3">
                    <div style="height: 50%;">
                        <h4>THUÊ SỰ KIỆN</h4>
                        <div class="add">Thuê rạp</div>
                    </div>
                    <div style="margin-top: 40px;">
                        <h4>CINESTAR</h4>
                        <div class="add">Giới thiệu</div>
                        <div class="add">Liên hệ</div>
                    </div>
                </div>
                <div class="boxfooter4">
                    <h4>DỊCH VỤ KHÁC</h4>
                    <div class="add">Đặt đồ ăn</div>
                    <div class="add">Coffee</div>
                    <div class="add">Nhà hàng</div>
                    <div class="add">Kidzone</div>
                    <div class="add">Nhà hát Opera</div>
                </div>
                <div class="boxfooter5">
                    <h4>HỆ THỐNG RẠP</h4>
                    <div class="add">Chi nhánh Quốc Thanh</div>
                    <div class="add">Chi nhánh Hai Bà Trưng</div>
                    <div class="add">Chi nhánh Bình Dương</div>
                    <div class="add">Chi nhánh Đà Lạt</div>
                </div>
            </div>
                
        </footer>
    </body>

</html>