<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/style2.css">
</head>

<body>
    <header class>
        <div class="menu">
            <div class="logo">
                <img src="assets/logo.jpg" alt width="190">
            </div>
            <div class="ticket">
                <img src="../static/assets/ic-ticket.svg" alt width="20">Đặt mua vé
            </div>
            <div class="menu-search">
                <input id="icon" style="text-indent:17px;" type="text"
                    placeholder="Search..." />
            </div>
            <div class="login-logout">
                <img
                    src="../static/assets/user-icon-on-transparent-background-free-png.webp"
                    alt width="80">
                <div class="log">
                    Đăng Nhập/Đăng Ký 
                </div>
            </div>
        </div>
     </header>
    <main class="main">
        <div class="select_theater">
            <div class="option">
                <img src="../static/assets/location.png" alt width="50">
                <p class="link">Chọn rạp</p>
            </div>
            <div class="option">
                <div class="link">
                    Khuyến mãi
                </div>
                <div class="link">
                    Giới thiệu
                </div>
                <div class="link">
                    Dịch vụ khác
                </div>
                <div class="link">
                    Thuê sự kiện
                </div>
            </div>
        </div>
        <div class="logophim">
            <img src="../static/assets/thanh-guom-diet-quy.jpg" alt="" width="400">
            <h1 class="tieude">
                THANH GƯƠM DIỆT QUỶ: PHÉP MÀU TÌNH THÂN, CHO ĐẾN CHUYẾN ĐẶC HUẤN CỦA ĐẠI TRỤ (T16)
            </h1>
            
        </div>
        
        </main>
        <footer class="footer">
            <div class="boxcenter">
                <div class="boxfooter1">
                    <div class="logo2">
                        <img src="../static/assets/logo4-2.png" alt>
                    </div>
                </div>
                <div class="boxfooter2">
                    <div style="height: 50%;">
                        <h4>TÀI KHOẢN</h4>
                        <div class="add">Đăng nhập</div>
                        <div class="add">Đăng ký</div>
                    </div>
                    <div style="margin-top: 40px;">
                        <h4>XEM PHIM</h4>
                        <div class="add">Phim đang chiếu</div>
                        <div class="add">Phim sắp chiếu</div>
                    </div>
                </div>
                <div class="boxfooter3">
                    <div style="height: 50%;">
                        <h4>THUÊ SỰ KIỆN</h4>
                        <div class="add">Thuê rạp</div>
                    </div>
                    <div style="margin-top: 40px;">
                        <h4>CINESTAR</h4>
                        <div class="add">Giới thiệu</div>
                        <div class="add">Liên hệ</div>
                    </div>
                </div>
                <div class="boxfooter4">
                    <h4>DỊCH VỤ KHÁC</h4>
                    <div class="add">Đặt đồ ăn</div>
                    <div class="add">Coffee</div>
                    <div class="add">Nhà hàng</div>
                    <div class="add">Kidzone</div>
                    <div class="add">Nhà hát Opera</div>
                </div>
                <div class="boxfooter5">
                    <h4>HỆ THỐNG RẠP</h4>
                    <div class="add">Chi nhánh Quốc Thanh</div>
                    <div class="add">Chi nhánh Hai Bà Trưng</div>
                    <div class="add">Chi nhánh Bình Dương</div>
                    <div class="add">Chi nhánh Đà Lạt</div>
                </div>
            </div>
                
        </footer>
    </body>

</html>