<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewbox" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/style2.css">
    <link rel="stylesheet" href="../static/css/ChonRap_style.css">
</head>

<body>
    <div class="navbar">
        <div class="hd_chonrap_top">
            <div class="container">
                <div class="hd_chonrap_top_components">
                    <a class="main_logo_link" href="#"> <!--Thay href-->
                        <img class="mainlogo" src="../static/assets/logo4.png">
                    </a>
                    <div class="hd_left_action">
                        <a button class="btn book_btn" href="{{ url_for('home') }}"> <!--Thay href-->
                            <img src="https://cinestar.com.vn/assets/images/ic-ticket.svg">
                            <span class="text">Đặt vé ngay</span>
                        </a>

                    </div>
                    <div class="hd_right_action">
                        <!--Search-->
                        <div class="hd_search">
                            <div class="search_icon">
                                <img src="https://cinestar.com.vn/assets/images/icon-search.svg">
                            </div>
                            <div class="search_panel" data-name="panel_search">
                                <div class="search_panel_form">
                                    <div>
                                        <div class="search_panel_form_content">
                                            <input class="search_content" type="text" id="searchInput"
                                                placeholder="Nhập tên phim">
                                            <a href="{{url_for('search')}}">
                                                <button class="search_btn" type="submit" onclick="searchMovies()">
                                                    <img
                                                        src="https://cinestar.com.vn/assets/images/ic-header-search.svg">
                                                </button>
                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Register/Login-->
                        <div class="hd_register_login">
                            <div class="hd_register_login_content">
                                <div class="hd_register_login_list">
                                    {% if auth_email %}
                                    <div class="hd_register_login_ava">
                                        <a href="{{url_for('user')}}">
                                            <img src="https://cinestar.com.vn/assets/images/ic-header-auth.svg">
                                        </a>
                                    </div>
                                    <p>{{ auth_email }} <br> <a class="logout" href="{{ url_for('logout') }}">Đăng
                                            xuất</a>
                                    </p>
                                    {% else %}
                                    <a class="link" href="{{url_for('signin')}}">
                                        <i class="login"></i>Đăng nhập
                                    </a>
                                    <span class="separate">/</span>
                                    <a class="link" href="{{url_for('signin')}}">
                                        <i class="register"></i>Đăng kí
                                    </a>
                                    {% endif %}
                                </div>

                            </div>
                        </div>
                        <!--Language-->
                        <div class="hd_language">
                            <div class="hd_language_action">
                                <div class="hd_language_popup">
                                    <div class="hd_language_option">
                                        <span class="image">
                                            <img src="https://cinestar.com.vn/assets/images/footer-vietnam.svg">
                                        </span>
                                        <span class="text">
                                            VN
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-content">
        <div class="hd_chonrap">
            <div class="hd_chonrap_mid">
                <h1 class="on-going" style="text-align: center;">
                    PHIM ĐANG CHIẾU
                </h1>
                <div class="banner_1">
                    <div id="movies">
                        <div class="movie-container">
                            {% for movie in movies %}
                            <div class="movie">
                                <div>
                                    <img src="{{ movie.url_poster }}" alt="{{ movie.ten_phim }}">
                                </div>
                                <div class="title">
                                    <p>{{ movie.ten_phim }}</p>
                                </div>
                                <div class="trailer">
                                    <a target="_blank" href="{{ movie.trailer }}">
                                        <div style="display: flex; align-items: center; justify-content: center;">
                                            <img src="../static/assets/icons8-play-64.png" alt="Play" width="30">
                                            <p style="padding-left: 5px;">Trailer</p>
                                        </div>
                                        <div class="buy_ticket">
                                            <a href="{{ url_for('book_tickets', id_phim=movie.id) }}"><button
                                                    type="button">Đặt vé</button></a>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <script>
                    function updateMoviesLayout() {
                        var screenWidth = window.innerWidth;
                        var movieContainers = document.getElementsByClassName('movie-container');
                        var numMoviesPerRow = screenWidth > 800 ? 4 : 2; // Số lượng phim trên mỗi hàng

                        for (var i = 0; i < movieContainers.length; i++) {
                            var movies = Array.from(movieContainers[i].getElementsByClassName('movie')); // Chuyển HTMLCollection sang mảng để có thể sử dụng slice()
                            var rows = Math.ceil(movies.length / numMoviesPerRow);

                            // Xóa tất cả các hàng hiện tại
                            while (movieContainers[i].firstChild) {
                                movieContainers[i].removeChild(movieContainers[i].firstChild);
                            }

                            // Tạo lại các hàng mới
                            for (var j = 0; j < rows; j++) {
                                var row = document.createElement('div');
                                row.className = 'movie-container';
                                movieContainers[i].appendChild(row);

                                // Thêm phim vào hàng mới
                                var moviesInRow = movies1.slice(j * numMoviesPerRow, (j + 1) * numMoviesPerRow);
                                moviesInRow.forEach(function (movie) {
                                    row.appendChild(movie.cloneNode(true)); // Sao chép và thêm phim vào hàng mới
                                });
                            }
                        }
                    }


                </script>

                <h2 class="premier" style="text-align: center;">
                    PHIM SẮP CHIẾU
                </h2>
                <div class="banner_1">
                    <div id="phimsapchieu">
                        <div class="movie-container">
                            {% for movie in phimsapchieu %}
                            <div class="movie">
                                <div>
                                    <img src="{{ movie.url_poster }}" alt="{{ movie.ten_phim }}">
                                </div>
                                <div class="title">
                                    <p>{{ movie.ten_phim }}</p>
                                </div>
                                <div class="trailer"
                                    style="display: flex; align-items: center; justify-content: center;">
                                    <a target="_blank" href="{{ movie.trailer }}">
                                        <div style="display: flex; align-items: center; justify-content: center;">
                                            <img src="../static/assets/icons8-play-64.png" alt="Play" width="30">
                                            <p style="padding-left: 5px;">Trailer</p>
                                        </div>
                                    </a>
                                </div>

                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                </h1>

                <div class="banner_1">
                    <script>
                        function updateMoviesLayout() {
                            var screenWidth = window.innerWidth;
                            var movieContainers = document.getElementsByClassName('movie-container');
                            var numMoviesPerRow = screenWidth > 800 ? 4 : 2; // Số lượng phim trên mỗi hàng

                            for (var i = 0; i < movieContainers.length; i++) {
                                var movies = Array.from(movieContainers[i].getElementsByClassName('movie')); // Chuyển HTMLCollection sang mảng để có thể sử dụng slice()
                                var rows = Math.ceil(movies.length / numMoviesPerRow);

                                // Xóa tất cả các hàng hiện tại
                                while (movieContainers[i].firstChild) {
                                    movieContainers[i].removeChild(movieContainers[i].firstChild);
                                }

                                // Tạo lại các hàng mới
                                for (var j = 0; j < rows; j++) {
                                    var row = document.createElement('div');
                                    row.className = 'movie-container';
                                    movieContainers[i].appendChild(row);

                                    // Thêm phim vào hàng mới
                                    var moviesInRow = movies.slice(j * numMoviesPerRow, (j + 1) * numMoviesPerRow);
                                    moviesInRow.forEach(function (movie) {
                                        row.appendChild(movie.cloneNode(true)); // Sao chép và thêm phim vào hàng mới
                                    });
                                }
                            }
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="footer_components">
                <div class="footer_list">
                    <!--Logo_Footer-->
                    <div class="footer_list-item col col4">
                        <a class="main_logo_link_footer" href="#"> <!--Thay href-->
                            <img src="../static/assets/logo4-2.png" width="800px" height="800px">
                        </a>
                    </div>
                    <!--Column 1+2-->
                    <div class="footer_list-item sp">

                        <div class="footer_list-item_top row">

                            <div class="part">
                                <div class="text">TÀI KHOẢN</div>
                                <ul class="menu-list">
                                    <li class="menu-item">
                                        <a class="menu-link" href="#">Đăng nhập</a> <!--Thay href-->
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" href="#">Đăng ký</a> <!--Thay href-->
                                    </li>
                                </ul>
                            </div>

                            <div class="part">
                                <div class="text">THUÊ SỰ KIỆN</div>
                                <ul class="menu-list">
                                    <li class="menu-item">
                                        <a class="menu-link" href="#">Thuê rạp</a> <!--Thay href-->
                                    </li>
                                </ul>
                            </div>

                        </div>

                        <div class="footer_list-item_bottom row">

                            <div class="part">
                                <div class="text">XEM PHIM</div>
                                <ul class="menu-list">
                                    <li class="menu-item">
                                        <a class="menu-link" href="#">Phim đang chiếu</a> <!--Thay href-->
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" href="#">Phim sắp chiếu</a> <!--Thay href-->
                                    </li>
                                </ul>
                            </div>

                            <div class="part">
                                <div class="text">CINESTAR</div>
                                <ul class="menu-list">
                                    <li class="menu-item">
                                        <a class="menu-link" href="#">Giới thiệu</a> <!--Thay href-->
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" href="#">Liên hệ</a> <!--Thay href-->
                                    </li>
                                </ul>
                            </div>

                        </div>

                    </div>

                    <!--Column 3-->
                    <div class="footer_list-item aform">
                        <div class="text">DỊCH VỤ KHÁC</div>
                        <ul class="menu-list">
                            <li class="menu-item">
                                <a class="menu-link" href="#">Đặt đồ ăn</a> <!--Thay href-->
                            </li>
                            <li class="menu-item">
                                <a class="menu-link" href="#">Coffee</a> <!--Thay href-->
                            </li>
                            <li class="menu-item">
                                <a class="menu-link" href="#">Nhà hàng</a> <!--Thay href-->
                            </li>
                            <li class="menu-item">
                                <a class="menu-link" href="#">Kidzone</a> <!--Thay href-->
                            </li>
                            <li class="menu-item">
                                <a class="menu-link" href="#">Gym</a> <!--Thay href-->
                            </li>
                            <li class="menu-item">
                                <a class="menu-link" href="#">Nhà hát Opera</a> <!--Thay href-->
                            </li>
                        </ul>
                    </div>

                    <!--Column 4-->
                    <div class="footer_list-item aform">
                        <div class="text">HỆ THỐNG RẠP</div>
                        <ul class="menu-list">
                            <li class="menu-item">
                                <a class="menu-link" href="#">Tất cả hệ thống rạp</a> <!--Thay href-->
                            </li>
                            <li class="menu-item">
                                <a class="menu-link" href="#">CI9MA Nguyễn Trãi</a> <!--Thay href-->
                            </li>
                            <li class="menu-item">
                                <a class="menu-link" href="#">CI9MA Hai Bà Trưng</a> <!--Thay href-->
                            </li>
                            <li class="menu-item">
                                <a class="menu-link" href="#">CI9MA Bình Dương</a> <!--Thay href-->
                            </li>
                            <li class="menu-item">
                                <a class="menu-link" href="#">CI9MA Kiên Giang</a> <!--Thay href-->
                            </li>
                            <li class="menu-item">
                                <a class="menu-link" href="#">CI9MA Đà Lạt</a> <!--Thay href-->
                            </li>
                            <li class="menu-item">
                                <a class="menu-link" href="#">CI9MA Huế</a> <!--Thay href-->
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </footer>
</body>

</html>