<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
        <meta name="viewbox" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/ThueSuKien_LienHeNgayForm_style.css">
</head>
<body>
    <form method="POST">
        <h1>Contact Us</h1>
        <input type="text" name="full_name" placeholder="Full Name" autocomplete="on" required>
        <input type="text" name="phone_number" placeholder="Phone Number" autocomplete="on" required>
        <input type="email" name="email" placeholder="Email Address" autocomplete="on" required>
        <textarea rows="6" cols="80" name="message" placeholder="Your needs are..." autocomplete="off" required></textarea>
        <button type="submit">Send Message</button>
    </form>
</body>
</html>